/23117_rolis liu_tugas1/nbproject/private/
/23117_rolis liu_tugas2/nbproject/private/
/23117_rolis liu_tugas2/build/
/Praktikum5/nbproject/private/
/Praktikum5/build/
/23117_rolis liu_tugas4/nbproject/private/
/23117_rolis liu_tugas4/build/
/23117_rolis liu_tugas5/nbproject/private/
/23117_rolis liu_tugas5/build/
/utsPBO/nbproject/private/
/utsPBO/build/
/23117_rolis-liu_tugas6/nbproject/private/
/23117_rolis-liu_tugas6/build/
/pertemuan10/nbproject/private/
/pertemuan10/build/
/23117_rolis-liu_praktikum7/nbproject/private/
/23117_rolis-liu_praktikum7/build/
/23117_rolisliu_tugas7/nbproject/private/
/23117_rolisliu_tugas7/build/
/23117_rolis-liu_tugas8/nbproject/private/
/23117_rolis-liu_tugas8/build/
/23117_rolis-liu_tugas8/dist/
/pertemuan12/nbproject/private/
/pertemuan12/build/
/23117_rolis-liu_tugas9/build/
/23117_rolis-liu_tugas10/nbproject/private/
/23117_rolis-liu_tugas10/build/
