/23117_rolis liu_tugas1/nbproject/private/
/23117_rolis liu_tugas2/nbproject/private/
/23117_rolis liu_tugas2/build/
/Praktikum5/nbproject/private/
/Praktikum5/build/
/23117_rolis liu_tugas4/nbproject/private/
/23117_rolis liu_tugas4/build/
/23117_rolis liu_tugas5/nbproject/private/
/23117_rolis liu_tugas5/build/
